<!doctype html>
<!-- prettier-ignore -->
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5" />

    <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}" />

    {{ partial "seo_tags.html" . }}

    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ partial "favicon.html" . }}

    <link href='{{ (resources.Get "main.css").RelPermalink }}' rel="stylesheet">
    <link href='{{ (resources.Get "syntax.css").RelPermalink }}' rel="stylesheet">

  </head>

  <body>
    <header>{{ partial "header.html" . }}</header>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer style="padding: 25px 0">{{ partial "footer.html" . }}</footer>
  </body>
</html>
