<!doctype html>
<!-- prettier-ignore -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5"
    />

    <title>
      {{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title
      }}{{- end }}
    </title>
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    {{ partial "seo_tags.html" . }}
    {{ partial "favicon.html" . }}
    {{ partial "style.html" . }}
  </head>

  <body>
    <header>{{ partial "header.html" . }}</header>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer style="padding: 25px 0">{{ partial "footer.html" . }}</footer>
  </body>
</html>
